h1 a {
    text-decoration: none;
    font-weight: bold;
    color: #2F2F4F;
    font-size: 150%;
}

#info {
    padding-right: 50px;
    width: 100%;
    position: absolute;
    left: 0;
}

#plot {
    width: 80%;
    margin: 20px;
}

#uicont > div {
    padding-bottom: 10px;
}

.shell {
    background: #000;
    color: #FFF;
    padding: 15px;
}

.Rstyle {
    border: 3px solid #BBCCFF;
    color: #000;
    padding: 15px;
}
